
html, body {
    height: 100%;
    width: 100%;
}

body {
display: grid;
min-height: 100vh;
grid-template-rows: auto 1fr auto ;
}


.super-container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    .container{
        height: 700px;
        width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: lightblue;
        .text-area-container{
            resize: none;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 15px;
            justify-content: center;
            .textarea{
                height: 300px;
                width: 300px;
            }
        }
        .buttons-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 10px;
        }

    }
}


.titulo{
    text-align: center;
    color: lightblue;
    font-size: 2.5vh;
}




