
body{
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.main-title{
color: lightblue;
}

.add-list-assigment-button{
    background-color: green;
    color: #fff;
    border-radius: 3px;
    border: none;
    min-height:22px;
    min-width:45px;
    font-size: 10px;
}

.list-assignment-title{
color: lightblue;
}

.list-assignment-container{
height: 250px;
width: 250px;
border: 2px solid #000;
overflow-y: scroll;
display: flex;
flex-direction:column;
}


.newAssigmentsContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  

.textAreaAssigment{
width: 85%;
height: 20px;
font-size: 10px;
padding-top: 2px;
border: none;
}



.deleteAssigmentButton{
background-color:inherit ;
border: none;
width: 15%;
height: 20px;
color:red;
font-size: 10px;
}

}
